.footer{
    background-color: #9fbfdf;
    padding: 10px;
}
.footerA{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footerContentLeft,.footerContentright{
    text-align: start;
    padding: 30px;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #9fbfdf;
}

.footer-bottom p {
    color: #335cad; 
    font-size: 14px;
}
@media (min-width:300px ) and (max-width:426px){
    .footerA{
        grid-template-columns: 1fr !important
        ;
    }
}